<!-- veiw page/Template to be rendered -->
<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/726d2f0aee.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <!-- main div -->
        <div id = "main-div">
            <!-- title of the page -->
            <div id="page-title">
                Expense Tracker
            </div>
            <!-- display balance, income, expense -->
            <div id="balance_display">
                <div id="transaction">
                    <p class='heading'> YOUR BALANCE </p>
                    <div id='balance-amount'>
                        <%
                            let total = 0;
                            for (let i of expense_list) { 
                                  total+= (parseInt(i.amount));
                            }
                            %>
                            <%= total %>
                    </div>
                </div>

                <!-- income -->
                <div id="income_expense_display">
                    <div id="income-div">
                        <p class="heading"> INCOME </p>
                        <div id='income'>
                            <%
                            let income = 0;
                            for (let i of expense_list) { 
                                if(parseInt(i.amount)>0)
                                  income+= (parseInt(i.amount));
                            }
                            %>
                            <%= income %>
                        </div>
                    </div>


                    <!-- expense -->
                    <div id="expense-div">
                        <p class="heading"> EXPENSE </p>
                        <div id='expense'>
                            <%
                            let expense = 0;
                            for (let i of expense_list) { 
                                if(0>parseInt(i.amount))
                                  expense+= (parseInt(i.amount));
                            }
                            %>
                            <%= Math.abs(expense) %>
                        </div>
                    </div>
                </div>

            </div>

            <div id="expense-list">
                <!-- getting expense details using form -->
                <form action="/create-expense" method="POST">
                    <!-- transaction -->
                    <div id="transaction">
                    <p class='heading'> ADD TRANSACTION </p>
                    <textarea id="transaction-form" name="transaction" placeholder="Enter new transaction details" required></textarea>
                    </div>

                    <!-- amount -->
                    <div id="amount_date">
                        <div id="amount-div">
                            <p class="heading"> AMOUNT </p>
                            <textarea id="amount-form" name="amount" placeholder="Enter Amount: Negetive-Expense, Positive-Income" required></textarea>
                        </div>


                        <!-- date -->
                        <div id="date-div">
                            <p class="heading"> DATE </p>
                            <input type="date" name="date" id="date" >
                        </div>
                    </div>
                        
                        
                        <!-- Add and delete button -->
                    <div id="add-delete-button">
                        <div  id="add-button-container">
                            <button type="submit" id="add-button"><i class="fas fa-plus"></i> &nbsp; ADD </button>
                        </div>
                
                    
                        <div id="delete-button-container">
                                <button type="submit" id="delete-button" form="expense-delete"><i class="fas fa-trash-alt"></i> &nbsp; DELETE</button>
                        </div>
                    </div>

                </form>

                <!-- displaying expense details -->
                <form id="expense-delete" action="/delete-expense" method="GET">
                    <ul>
                        <% for (let i of expense_list) { %>
                            <li>
                                <div class="expense-list-container">
                                    <div class="transaction-date-container">
                                        <label class="transaction-list">
                                            <input type="checkbox" class="todo-checkbox" name="<%= i._id%>"> <%= i.transaction %> 
                                            <label class="date-list"> <i class="fas fa-calendar-week"></i> 
                                                <%
                                                     var months = {
                                                        '01': 'JAN',
                                                        '02': 'FEB',
                                                        '03': 'MAR',
                                                        '04': 'APR',
                                                        '05': 'MAY',
                                                        '06': 'JUN',
                                                        '07': 'JUL',
                                                        '08': 'AUG',
                                                        '09': 'SEP',
                                                        '10': 'OCT',
                                                        '11': 'NOV',
                                                        '12': 'DEC'
                                                     }
                                                    %>
                                                <%=  months[i.date.slice(5,7)] + ' ' + i.date.slice(8,10) + ', ' + i.date.slice(0,4) %> 
                                            </label>
                                        </label>
                                        
                                    </div>
    
                                    <div class="amount-container">
                                        <label class="amount-list"> <%= i.amount %> </label>
                                    </div>
                                </div>    
                            </li>
                        <% } %>
                    </ul>
                </form>


               
            </div>


        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>



